:root {
    --black-color: #222222;
    --light-pink-color: #F1E4E6;
    --pink: #F16D7F;
    --white: #FFFFFF;
    --grey: #F8F8F8; 
    --white-grey: #FBFBFB;
    --white-black-color: #222224;
}

body {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }

.header {
    background: var(--black-color);
}

.header__navigation {
    display: none;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__button {
    background: transparent;
    border: none;
    margin: 0 34px 0 0;
}

.header__link {
    margin: 0 34px 0 0;
}

.brand {
    max-width: 1600px;
    display: flex;
    margin: 0 auto;
}

.brand__title-container {
    display: flex;
    flex-grow: 1;
    background: var(--light-pink-color);
    padding: 0 0 0 92px;
    align-items: center;
}

.brand__title {  
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__sub-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    display: block;
}

.brand__pink-sub-title {
    color: var(--pink);
}

.promotion__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 63px 0 0 0 ;
}

.promotion__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 30px 0;
}

.promotion__item--woman {
    background-image: url(../img/stock-women.png);
    background-size: cover;
}

.promotion__item--men {
    background-image: url(../img/stock-men.png);
    background-size: cover;
}

.promotion__item--kids {
    background-image: url(../img/stock-kids.png);
    background-size: cover;
}

.promotion__item--accesories {
    background-image: url(../img/stock-accesorles.png);
    background-size: cover;
    width: 100%;
}

.promotion__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--white);
    text-transform: uppercase;
}

.promotion__text {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: var(--pink);
    text-transform: uppercase;
}

.products {
    display: flex;
    flex-direction: column;
}

.products__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin: 97px 0 6px 0;
    align-self: center;
}

.products__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    align-self: center;
}

.products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 48px 0 0;
}

.products__item {
    width: 360px;
    margin: 0 0 30px;
}

.product__img {
    display: block;
}

.product_description {
    background: var(--grey);
    padding: 25px 29px 20px 17px;
}

.product__title {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    margin: 48px 0 0 0;
}

.product__text {
    margin: 13px 0 0 0;
}

.product__price {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin: 18px 0 0 0;
    color: var(--pink);
}

.product__button {
    display: none;
}

.products__button {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border: 1px solid #FF6A6A;
    margin: 18px 0 96px;
    padding: 15px 40px;
    color: var(--pink);
    align-self: center;
    background: var(--white);
}

.privilege {
    background: var(--black-color);
    max-width: 1600px;
    margin: 0 auto;
}

.privilege__list {
    min-height: 341px;
    display: flex;
    justify-content: space-between;
}

.privilege__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.privilege__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: var(--white-grey);
    margin: 28px 0 0;
}

.privilege__text {
    color: var(--white-grey);
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-align: center;
    margin: 16px 0 0;
}

.footer {
    max-width: 1600px;
    background: url(../img/footer-bgr.jpg);
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 448px;
}

.footer__top-comment {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__top-text {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--white-black-color);
    width: 360px;
    margin: 32px 0 0;
}

.footer__top-sub-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    color: var(--white-black-color);
    display: block;
    text-transform: uppercase;
}

.footer__top-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    flex-grow: 0.5;
    text-transform: uppercase;
}

.footer__botton {
    background: var(--white-black-color);
    max-width: 1600px;
}

.footer__botton-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 79px;
}

.footer__botton-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--white-grey);
}

.footer__botton-list {
    display: flex;
}

.footer__botton-item {
    margin: 0 0 0 27px;
}
