/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-family: Lato;
  font-style: normal;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background: #222222;
}

.header__navigation {
  display: none;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}

.header__search {
  display: flex;
}

.header [type="search"] {
  padding: 26px 20px;
  border: none;
  outline: 1px solid #F16D7F;
  position: relative;
}

.header [type="search"]:before {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url(../img/search.png);
  left: -39px;
  top: -3px;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header [type="search"] {
  padding: 10px 20px;
  border: none;
  outline: 1px solid black;
}

.header__button {
  background: transparent;
  border: none;
  margin: 0 34px 0 0;
}

.header__button:hover .header__icon,
.header__button:focus .header__icon {
  fill: #F16D7F;
}

.header__link {
  margin: 0 34px 0 0;
}

.header__link:hover .header__icon,
.header__link:focus .header__icon {
  fill: #F16D7F;
}

.header__icon {
  fill: #F8F8F8;
}

.header__icon:hover {
  fill: #F16D7F;
}

.brand {
  max-width: 1600px;
  display: flex;
  margin: 0 auto;
}

.brand__title-container {
  display: flex;
  flex-grow: 1;
  background: #F1E4E6;
  padding: 0 0 0 92px;
  align-items: center;
}

.brand__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  text-transform: uppercase;
}

.brand__sub-title {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  display: block;
}

.brand__pink-sub-title {
  color: #F16D7F;
}

.promotion__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 63px 0 0 0;
}

.promotion__item {
  width: 360px;
  min-height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0 30px 0;
}

.promotion__item--woman {
  background-image: url(../img/stock-women.png);
  background-size: cover;
}

.promotion__item--men {
  background-image: url(../img/stock-men.png);
  background-size: cover;
}

.promotion__item--kids {
  background-image: url(../img/stock-kids.png);
  background-size: cover;
}

.promotion__item--accesories {
  background-image: url(../img/stock-accesorles.png);
  background-size: cover;
  width: 100%;
}

.promotion__title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: uppercase;
}

.promotion__text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  color: #F16D7F;
  text-transform: uppercase;
}

.privilege {
  background: #222222;
  max-width: 1600px;
  margin: 0 auto;
}

.privilege__list {
  min-height: 341px;
  display: flex;
  justify-content: space-between;
}

.privilege__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.privilege__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #FBFBFB;
  margin: 28px 0 0;
}

.privilege__text {
  color: #FBFBFB;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  text-align: center;
  margin: 16px 0 0;
}

.products {
  display: flex;
  flex-direction: column;
}

.products__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  margin: 97px 0 6px 0;
  align-self: center;
}

.products__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  align-self: center;
}

.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 48px 0 0;
}

.products__item {
  width: 360px;
  margin: 0 0 30px;
}

.products__img {
  display: block;
}

.products_description {
  background: #F8F8F8;
  padding: 25px 29px 20px 17px;
}

.products__title {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 48px 0 0 0;
}

.products__text {
  margin: 13px 0 0 0;
}

.products__price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  margin: 18px 0 0 0;
  color: #F16D7F;
}

.products__button {
  position: relative;
}

.products__button {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  border: 1px solid #F16D7F;
  margin: 18px 0 96px;
  padding: 15px 40px;
  color: #F16D7F;
  align-self: center;
  background: #FFFFFF;
}

.products__button:hover, .products__button:focus {
  color: #FFFFFF;
  background: #F16D7F;
}

.footer {
  max-width: 1600px;
  background: url(../img/footer-bgr.jpg);
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
}

.footer__subscription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 448px;
}

.footer__comment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: #222224;
  width: 360px;
  margin: 32px 0 0;
}

.footer__subtitle {
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  text-align: center;
  color: #222224;
  display: block;
  text-transform: uppercase;
}

.footer__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  flex-grow: 0.5;
  text-transform: uppercase;
}

.footer__contacts {
  background: #222224;
  max-width: 1600px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 79px;
}

.footer__contacts-text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #FBFBFB;
}

.footer__list {
  display: flex;
}

.footer__item {
  width: 42px;
  height: 42px;
  background: #FFFFFF;
  margin: 0 0 0 27px;
}

.footer__icon {
  fill: aqua;
}

.top {
  margin: 0 auto 63px;
  min-height: 148px;
  background: #F8F3F4;
  display: flex;
}

.top__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #F16D7F;
  text-transform: uppercase;
  align-self: center;
}

.registration {
  display: flex;
  justify-content: space-between;
}

.registration__legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #222222;
}

.registration__input {
  border: 1px solid #F8F8F8;
  margin: 24px 0 0;
  padding: 14px 278px 16px 18px;
}

.registration [type="radio"] {
  display: none;
}

.registration [type="radio"]:checked + .registration__label:after {
  display: block;
}

.registration__label {
  position: relative;
  margin: 33px 54px 0 27px;
}

.registration__label:before {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  border: 1px solid #B1B1B1;
  border-radius: 50px;
  left: -27px;
}

.registration__label:after {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  background: #F16D7F;
  border-radius: 50px;
  left: -24px;
  top: 3px;
  display: none;
}

.registration__gender {
  margin: 33px 0 33px;
}

.registration__input::placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #B1B1B1;
}

.registration-subtext {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #B1B1B1;
  margin: 15px 0 0;
}

.registration__button {
  font-size: 15px;
  line-height: 17px;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #F16D7F;
  border: none;
  padding: 16px 66px 16px 29px;
  margin: 39px 0 113px;
  position: relative;
  display: block;
}

.registration__button:before {
  content: '';
  background: url(../img/arrow.png);
  position: absolute;
  width: 17px;
  height: 10px;
  right: 20px;
  top: 40%;
}

.registration__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-transform: uppercase;
}

.registration__text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  max-width: 652px;
  margin: 22px 0 0;
}

.registration__list {
  margin: 21px 0 0;
}

.registration__item {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin: 0 0 16px 36px;
  position: relative;
}

.registration__item:before {
  content: '';
  background: url(../img/element.svg);
  height: 16px;
  width: 20px;
  position: absolute;
  left: -33px;
  top: 25%;
}
/*# sourceMappingURL=style.css.map */