    $black-color: #222222;
    $light-pink-color: #F1E4E6;
    $pink: #F16D7F;
    $white: #FFFFFF;
    $grey: #F8F8F8;
    $white-grey: #FBFBFB;
    $white-black-color: #222224;
    $white-pink-color: #F8F3F4;
    $light-grey-color: #E5E5E5;
    $dark-grey-color: #B1B1B1;
    $color-grey: #E1E1E1;
    $desktop-width: 1599px;
    $tablet-width: 767px;
    $mobile-wigth: 374px;