.brand {
  max-width: $desktop-width;
  display: flex;
  margin: 0 auto;

  &__img {
    width: 50%;
    height: auto;

    @include mobile {
      display: none;
    }
  }

  &__title-container {
    display: flex;
    flex-grow: 1;
    background: $light-pink-color;
    padding: 0 0 0 92px;
    align-items: center;

    @include tablet {
      padding: 0 0 0 68px;
    }

    @include mobile {
      min-height: 363px;
    }
  }

  &__title {
    @include font(48px, 58px, 900);
    text-transform: uppercase;
    position: relative;

    @include tablet {
      @include font(44px, 53px, 900)
    }

    @include mobile {
      @include font(38px, 46px, 900);
    }

    &:before {
      content: '';
      position: absolute;
      background: url(../img/stick.jpg);
      height: 92px;
      width: 12px;
      left: -22px;
      top: -4px;

      @include mobile {
        height: 61px;
        top: 9px;
      }
    }
  }

  &__sub-title {
    @include font(32px, 38px, 700);
    display: block;

    @include tablet {
      @include font(24px, 28px, 700);
    }
  }

  &__pink-sub-title {
    color: $pink;
  }
}