.footer {
    max-width: 1600px;
    background: url(../img/footer-bgr.jpg);
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
  
    &__subscription {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 448px;
    }
  
    &__comment {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    &__text {
      @include font(20px, 24px, 400);
      font-style: italic;
      text-align: center;
      color: $white-black-color;
      width: 360px;
      margin: 32px 0 0;
    }
  
    &__subtitle {
      @include font(24px, 38px, 700);
      text-align: center;
      color: $white-black-color;
      display: block;
      text-transform: uppercase;
  
    }
  
    &__title {
      @include font(18px, 30px, 400);
      text-align: center;
      flex-grow: 0.5;
      text-transform: uppercase;
    }
  
    &__contacts {
      background: $white-black-color;
      max-width: 1600px;
    }
  
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 79px;
    }
  
    &__contacts-text {
      @include font(16px, 19px, 400);
      color: $white-grey;
    }
  
    &__list {
      display: flex;
    }
  
    &__item {
        width: 42px;
        height: 42px;
      background: $white;
      margin: 0 0 0 27px;
    }
  
    &__icon {
        fill: aqua;
        
    }
  }
  