.privilege {
    background: $black-color;
    max-width: 1600px;
    margin: 0 auto;
  
    &__list {
      min-height: 341px;
      display: flex;
      justify-content: space-between;
    }
  
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;
    }
  
    &__title {
      @include font(20px, 24px, 400);
      color: $white-grey;
      margin: 28px 0 0;
    }
  
    &__text {
      color: $white-grey;
      @include font(14px, 17px, 300);
      text-align: center;
      margin: 16px 0 0;
    }
  }
  