.promotion {

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 63px 0 0 0;

    @include tablet {
      margin: 20px 0 0;
    }

    @include mobile {
      margin: 63px 0 0;
    }
  }

  &__item {
    width: 31%;
    min-height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 30px 0;

    @include tablet {
      min-height: 168px;
      margin: 0 0 20px;
    }

    @include mobile {
      width: 100%;
      min-height: 247px;
      margin: 32px 0 0;
    }
  }

  &__item--woman {
    background-image: url(../img/stock-women.png);
    background-size: cover;
  }

  &__item--men {
    background-image: url(../img/stock-men.png);
    background-size: cover;
  }

  &__item--kids {
    background-image: url(../img/stock-kids.png);
    background-size: cover;
  }

  &__item--accesories {
    background-image: url(../img/stock-accesorles.png);
    background-size: cover;
    width: 100%;

    @include mobile {
      min-height: 111px;
    }
  }

  &__title {
    @include font(16px, 19px, 400);
    color: $white;
    text-transform: uppercase;
  }

  &__text {
    @include font(24px, 29px, 900);
    color: $pink;
    text-transform: uppercase;
  }
}