.top {
  margin: 0 auto 63px;
  min-height: 148px;
  background: $white-pink-color;
  display: flex;

  @include tablet {
    margin: 0 auto 40px;
  }

  &__title {
    @include font(24px, 29px, 400);
    color: $pink;
    text-transform: uppercase;
    align-self: center;
  }
}